body {
    font-family: Arial, sans-serif;
    background-color: #202124; /* Cor de fundo do dark mode */
    color: #fff; /* Cor do texto no dark mode */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #2f3136; /* Cor de fundo do container no dark mode */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

h1 {
    font-size: 24px;
    text-align: center;
    color: #25d366; /* Cor do título no dark mode */
    margin-bottom: 20px; /* Espaçamento abaixo do título */
}

.input-group {
    margin-bottom: 20px; /* Espaçamento entre os campos */
}

.input-group input, .input-group textarea {
    width: calc(100% - 24px); /* Ajuste para considerar o padding */
    padding: 12px;
    border: 1px solid #4f545c; /* Cor da borda no dark mode */
    border-radius: 6px;
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
    background-color: #40444b; /* Cor de fundo dos inputs no dark mode */
}

.input-group input::placeholder, .input-group textarea::placeholder {
    color: #8a8d91; /* Cor do placeholder no dark mode */
}

.input-group textarea {
    
    resize: none; /* Impede redimensionamento */
}

.whatsapp-button {
    width: calc(100% - 24px); /* Ajuste para considerar o padding */
    background-color: #25d366;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block; /* Para ocupar a largura total */
    margin: 0 auto; /* Centralizar o botão */
    margin-bottom: 10px;
}

.whatsapp-button:hover {
    background-color: #128c7e;
}

.select-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.select-style {
    width: 100%;
    padding: 12px;
    border: 1px solid #4f545c; /* Cor da borda no dark mode */
    border-radius: 6px;
    font-size: 16px;
    margin-bottom: 10px;
    color: #fff;
    background-color: #40444b; /* Cor de fundo dos inputs no dark mode */
    -webkit-appearance: none; /* Remove a aparência padrão do select */
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23fff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>'); /* Ícone de seta para baixo */
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 18px 18px;
    cursor: pointer;
}

.select-style:focus {
    outline: none;
    border-color: #4f545c; /* Cor da borda ao focar no dark mode */
}


.modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
            padding-top: 60px;
        }

        .modal-content {
            background-color: #fefefe;
            margin: 5% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 600px;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
            padding-top: 60px;
        }

        .modal-content {
            background-color: #fefefe;
            margin: 5% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 600px;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }