
@media (orientation: portrait) {
    body {
        font-size: 1.2em;  
        width: 100%;
        height: auto;
    }
    .container {
        max-width: 90%; 
        padding: 15px; 
    }
    #numero {
        width: 100%;   
    }
}

body {
    background-color: #00e676;
    color: #070707;
    font-family: sans-serif;
}

.container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: none;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}

#numero {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #0a0a0a;
    border-radius: 8px;
}

button {
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #00e676;
    color: #000000;
    border: 1px solid #000;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #00c258;
    margin: 0 auto;
}


.meu-botao {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
