body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    text-align: center;
    color: #075e54;
}

input, button {
    display: block;
    width: calc(100% - 22px);
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
}

input {
    text-align: center;
}

button.whatsapp-button {
    background-color: #25d366; /* Cor verde do WhatsApp */
    color: #000;
    border: none;
    border-radius: 25px; /* Borda arredondada */
    padding: 12px 8px; /* Ajuste o preenchimento para tornar o botão mais espaçoso */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer;
    transition: background-color 0.3s;
}
.dark-theme button.whatsapp-button {
    background-color: #25d366; /* Cor verde do WhatsApp no modo escuro */
}

button.whatsapp-button:hover {
    background-color: #128c7e; /* Cor de destaque ao passar o mouse */
}

.dark-theme {
    background-color: #222;
    color: #ddd;
}

.dark-theme .container {
    background-color: #333;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.dark-theme h1 {
    color: #25d366;
}

.dark-theme input, .dark-theme button {
    border-color: #555;
    background-color: #444;
    color: #ddd;
}
